/* Erstellt einen Container mit 2 Elementen nebeneinander. */
.text-next-to-img {
  display: grid;
  grid-template-columns: 50% auto; /* Aufteilung des horizontalen Platzes*/
  gap: 1rem; /* Platz zwischen den Spalten */
}

/* Gibt Stile für den Textblock an. */
.text-next-to-img > .text {
  border: 1px solid lightgray;
  padding: 1rem 2rem;
  font-size: large;
}

/* Macht dass das Bild die Breite des Containers annimmt. */
.text-next-to-img > img {
  width: 100%;
}
